{% extends "base.html" %}

{% block title %}Appunti UniPv - Home{% endblock %}
{% block content %}

<div class="container">
  <center>

    {% if messages %}
      {% for msg in messages %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{msg.message}}
        </div>
      {% endfor %}
    {% endif %}
    <br><img src="/static/img/logo.png" width="110" height="110" alt=""><br>
    <h1 style="font-family: 'Fredoka One', serif;">Appunti UniPv</h1>
    <h5>Acquista appunti e esercizi relativi all'Università di Pavia</h5>
   <hr></center>

    {% for corso in listaappunti %}
    <h3><u>{{corso.nome}}:</u></h3>
    <div class="row">
      {% for f in corso.listaf %}
      <div class="col-lg-3 col-sm-8 portfolio-item">
        <div class="card h-100" {% if f.loho %}style="border:3px groove green;"{% endif %}>
        <div class="card-body">
          <h5 class="card-title">{{f.nome}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{f.anno}}°Anno &nbsp; &nbsp;{{f.pagine}} Pagine &nbsp;&nbsp; &nbsp; {% if f.loho %}{% else %}<a class="text-success"><b>{{f.prezzo}}€</b></a>{% endif %}</h6>
          <a href="/file/{{f.codice}}">Visualizza &raquo;</a>
        </div>
      </div>
    </div>
      {% endfor %}
    </div>
    {% endfor %}


    <center>
    <hr>
  
    <h3><b>Perché sceglierci?</b></h3><br>
    </center>
    <div class="row">
      <div class="col-lg-4 mb-2">
        <div class="card h-100">
          <h4 class="card-header"><center>Diffusione Ridotta</center></h4>
          <div class="card-body">
            <p class="card-text"><center>Ci teniamo alla sicurezza degli appunti. Tutto il materiale, una volta acquistato, è fruibile comodamente dal sito stesso senza la possibilità di essere scaricato. Questo ne evita la diffusione online e protegge la proprietà intellettuale degli autori.</center>
          </div>
          <div class="card-footer">
			<img class="card-img-top" width="60" height="230" src="/static/img/anonimo.jpg" alt="">
          </div>
        </div>
      </div>


      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header"><center>Rispettiamo la Privacy</center></h4>
          <div class="card-body">
            <p class="card-text"><center>Agli utenti non sono richiesti dati personali e la loro attività online non è tracciata. Questo garantisce una piattaforma sicura dove studiare in tranquillità.</center>
          </div>
          <div class="card-footer">
			<img class="card-img-top" src="/static/img/lucchetto.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-3">
        <div class="card h-100">
          <h4 class="card-header"><center>Economico</center></h4>
          <div class="card-body">
            <p class="card-text"><center>Tutti gli appunti sono sempre offerti ad un prezzo ridotto, per venire incontro alle esigenze di tutti gli studenti!</center>
          </div>
          <div class="card-footer">
			<img class="card-img-top" src="/static/img/gratis.png" alt="">
          </div>
        </div>
      </div>
    </div>
  
</div>
<br>
  

{% endblock %}
